@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Titillium+Web&display=swap");

@layer utilities {
  #messages::-webkit-scrollbar {
    width: 5px;
    @apply bg-gray-100 rounded-full;
  }
  #messages::-webkit-scrollbar-thumb {
    @apply bg-gray-300  rounded-xl;
  }
  .donutSpinner {
    display: inline-block;
    border: 4px solid hsl(222 100% 95%);
    border-left-color: hsl(243 80% 62%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: donut-spin 1.2s linear infinite;
  }

  @keyframes donut-spin {
    to {
      transform: rotate(1turn);
    }
  }
}
